<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  As we are connecting mysql, those driver classes, 
              database name, username and password are specified
              Please change the information as per your requirement -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/sports</property>        
        <property name="connection.username">alex</property>
        <property name="connection.password">Castellet:17</property>
       
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
   		<property name="hbm2ddl.auto">update </property> <!-- create / create-drop / update -->
		
		<property name="show_sql">true</property> <!-- Show SQL in console -->
		<property name="format_sql">false</property> <!-- Show SQL formatted -->
		
		<mapping class="castellet.dam.m12.uf2.hibernate.Sports"/>
		<mapping class="castellet.dam.m12.uf2.hibernate.Athletes"/>
    </session-factory>
</hibernate-configuration>